@import "../../styles/Variable.scss";

.mobil_header_container {
  width: 100vw;
  height: 100vh;
  background-color: $header_bg;
  position: absolute;
  top: 52px;
  z-index: 5000;
  transition: 500ms all;
  @media screen and (min-width: 576px) {
    display: none;
  }

  .header_link_list {
    display: flex;
    flex-direction: column;

    .link {
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      color: white;
      font-size: 1.2rem;
      border-bottom: 1px solid gray;
      height: 100%;
    }

    .header_button_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      .mobile_login_button {
        display: flex;
        align-items: center;
        color: $header-button-color;
        height: 100%;
        padding: 0 1.25rem;
        font-weight: 600;
        font-size: 1.3rem;
        background-color: #2da44e;
        padding: 0.5rem;
        border-radius: 10px;
        margin-right: 30px;
        color: white;
      }

      .mobile_register_button {
        font-size: 1.3rem;
        background-color: $after-color;
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
      }
    }

    .mobile_logout_button {
      margin-top: 1rem;
      background-color: #ef4444;
      color: white;
      width: max-content;
      align-self: center;
      border: none;
      padding: 0.6rem 1rem;
      border-radius: 10px;
    }
  }
}
