@import "../../styles/Variable.scss";

.library_container{
     display: flex;
     flex-direction: column;
 
    
     .library_wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1.5rem;

        @media screen and (max-width:1024px) {
         grid-template-columns: repeat(3, minmax(0, 1fr));
         }
         @media screen and (max-width:576px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            }
     }


     .heart{
        color: #EF4444;
        margin-left: .5rem;
     }

     .heart_plus{
        color: white;
        margin-left: .5rem;
     }


     
}

.empty_content{
    width: 100%;
    color: blue ;
    grid-column: 1/ span 4;
    text-align: center;
    font-size: 1.5rem;

    .buy_link{
       background-color: $after-color;
       color: white;
       margin-left: 1rem;
       padding: 5px  10px;
       border-radius: 5px;
    }
  /*   grid-column: span 2 / span 2; */
 } 

 .not_auth{
   margin-top: 2rem;
   color: white;
   width: 100%;
   grid-column: 1/ span 4;
   text-align: center;
   font-size: 1.5rem;

   .login_btn{
       background-color: $after-color;
       padding: .3rem .4rem;
       border-radius: 10px;
       margin-left: 1rem;
   }
 }