@import "../../styles/Variable.scss";

.gamecard_section{
     display: flex;
     flex-direction: column;
     background-color: $header_bg;
     padding: .75rem;
     border-radius: .5rem;
    overflow: hidden;
    .card_name_wrapper {
        display: flex;
        
      .card_name{
        color: white;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: .5rem;


        @media screen and (max-width:1024px) {
            font-size: .8rem;
        }


        @media screen and (max-width:576px) {
            font-size: .7rem;
        }

      }
    }

    .card_img_wrapper{
        cursor: pointer;
        position: relative;
        transition: 500ms all;
        

        .card_img{
            width: 100%;
            border-radius: .5rem;
            position: relative;
        }


        .search_icon{
            cursor: pointer;
             position: absolute;
             top: 50%;
             left: 50%;
             transition: 500ms all;
             color: white;
                font-size: 1.875rem;
                line-height: 2.25rem;
                opacity: 0;
                transform: translate(-50%,-50%); 

        }

        &:hover{
            opacity: .80;
        }

        &:hover .search_icon{
            opacity: 1;
        }

    }


    .card_description{

        color: white;
        font-size: 0.875rem;
        line-height: 1.25rem;
        flex: 1 1 0%;
        margin: .5rem 0;


        @media screen and (max-width:1024px)  {
            font-size: .7rem;
    }

        @media screen and (max-width:576px)  {
                font-size: .6rem;
        }

    }

    .card_info_container{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: .75rem;


        @media screen and (max-width:576px) {
            align-items: center;
            margin-top: .3rem;
        }



        .date_box{
            background-color:rgba(51 ,65 ,85,.9) ;
            padding: .5rem;
            border-radius: .375rem;
            color: white;
            font-size: .875rem;
            line-height: 1.25rem;


            @media screen  and (max-width:1024px)  {
                    font-size: .6rem;
                    padding: .4rem;
            }

            
            @media screen  and (max-width:576px) {
                font-size: .5rem;
                padding: .2rem;
            }

        }


        .likes{
            display: flex;
           align-items: center ;
          font-size: 1.25rem;
          line-height: 1.75rem;
          color: white;
          justify-content: center;
         height: 100%;

            .heart{
                margin-right: .5rem;
                color: #DC2626;

                @media screen  and (max-width:576px) {
                    margin-right: .2rem;
                }
            }
            

            @media screen  and (max-width:1024px)  {
                font-size: 1.1rem;
              
            }


            @media screen  and (max-width:576px) {
                font-size: .8rem;
            }


        }

        .price{
            background-color:rgba(51 ,65 ,85,.9) ;
            padding: .5rem .8rem ;
            border-radius: .375rem;
            color: white;


            @media screen  and (max-width:1024px)  {
                font-size: .8rem;
              
            }


            @media screen and (max-width:576px) {
                padding: .2rem;
                font-size: .8rem;
            }

        }




       



    }

    .buy_button_container{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
        


        .buy_button{
            border-radius: .5rem;
            color: white;
            background-color: $after-color;
            border: none;
            width: 100%;
            padding: 5px 0 ;
            transition: 200ms all;
            margin: 0;
            &:hover{
                opacity: .70;
            }

            @media screen and (max-width:1024px)  {
                padding: 3px;
            }


            @media screen and (max-width:576px)  {
                padding: 3px;
            }

        }


        .exist_button{
            border-radius: .5rem;
            color: white;
            background-color: #2DA44E ;
            border: none;
            padding: 5px 0;
            cursor: default;
            width: 100%;
        }
    }






}
